{% extends 'homepage/base.html' %}
{% load static %}

{% block css %}
<style>
    .doctor-image{
        background-color:tomato;
    }
    .patient-image{
        background-color:tomato;
    }
    .login-bar{
        background-color:green;
        padding:10px;
        width:20rem;
        border-radius:10px;
      
    }
     .snackbar-container.bottom-right {
        background-color: #006767!important; 
       
        border-radius: 10px;
    }

    .snackbar-container.bottom-right p {
        width: 100% !important;
        text-align: center !important;
        font-size: 16px !important;
    } 
</style>

{% endblock css %}

{% block content %}

{% if messages %}
{% for message in messages %}

<input type="hidden" value="{{message}}" id="message" >

<script>
    var message = document.getElementById('message').value
    Snackbar.show({ text: message , pos: 'bottom-right', actionText: "Close", alertScreenReader: true, duration: 500000 });
</script>

{% endfor %}
{% endif %}
<!--section 1-->
<div class="container-fluid banner-img">
    <img src="{% static 'homepage/image/doctor/banner.jpg' %}" alt="" class='banner-image'>
    <div class="col-lg-6 col-md-6 col-sm-12 heading">
        <span>Efficiently managing healthcare </span><br>
        <span>services of Doctors </span><br>
        <span> and patients.</span>
        <div class="registration">
            {% if request.user.is_authenticated %}
            <a class="register-btn" href="{% url 'dashboard' %}" role="button"><span>Dashboard</span></a>
            {% else %}
            {% comment %} <button class="register-btn"><span>Get Registered </span></button> {% endcomment %}
            <a class="register-btn" href="{% url 'registration' %}" role="button"><span>Get Registered</span></a>
            {% endif %}
        </div>

    </div>
    
</div>

<!-- section2-->
<div class="container ">
    <div class="">
        <div class="sub-heading d-flex justify-content-center">
            <span>Our Operations</span>
        </div>
        <div class="content d-flex justify-content-center">
             Streamlines hospital operations, including doctor and patient management, billing, and scheduling.
            
        </div> 

    </div>
</div>



 
   


{% endblock content %}
{% block js %} 
<script>
    

    


</script>


{% endblock js %}
