{% extends 'dashboard/index.html' %}
{% load static %}


{% block css %}
<style>
    .bi-bookmark-fill{
        position:relative;
        bottom:20px;
        z-index:1;
        font-size:20px !important;
       
    }
    .bi-hand-thumbs-up-fill{
        position:relative;
        top:20px;
        left:5px;
    }
    .card-data{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform .2s

    }
      .card-data:hover{
        box-shadow: -1px 8px 15px 0 rgb(90 50 224 / 55%), 5px 1px 20px 0 rgb(18 211 143 / 31%);
        {% comment %} box-shadow: -1px 8px 15px 0 rgb(0 0 0 / 20%), 5px 1px 20px 0 rgb(0 0 0 / 19%); {% endcomment %}
    }
     
     
</style> 
{% endblock css %}





{% block content %}
{% load customfilter %}
<h1>Favourite doctor</h1>

<div class="container ">

  {% for fav_data,like_count in favourite %}
  
    <div class="row card-data m-5">
        {% comment %} <h5>{{fav_data.id}}</h5> {% endcomment %}
       
        <div class="col-md-1 ">
            <i class="fas fa fa-bookmark ml-2  mb-3" fav='{{fav_data.id}}'  value='already_bookmark' onclick="favourite_doctor_data(this,{{fav_data.patient_profile_data.id}},{{fav_data.doctor_profile_data.id}})"  style='font-size:40px;position:relative;bottom:15px; color:tomato'></i>  

            {% comment %} {% if fav_id.doctor_profile_data == d  and fav_id.patient_profile_data== p %}
                <i class="fas fa fa-bookmark ml-2  mb-3"  value='bookmark' onclick="favourite_doctor_data(this,{{patient_profile_id}},{{doctor_data.id}})"  style='font-size:40px;position:relative;bottom:15px;color:green;'></i>  
            {% else %}
                <i class="fas fa fa-bookmark ml-2  mb-3"  value='bookmark' onclick="favourite_doctor_data(this,{{patient_profile_id}},{{doctor_data.id}})"  style='font-size:40px;position:relative;bottom:15px;'></i>  
            {% endif %} {% endcomment %}
        </div>  
        
        <div class="col-md-3 ">
           
            <div class='d-flex justify-content-center' >
                <img src="{{fav_data.doctor_profile_data.img.url}}" class="card-img-top mt-3" alt="..." style='width:200px; border-radius:10px'>
            </div>
        </div> 

        <div class="col-md-5 d-flex justify-content-center ">
            <div>
                <div><h3 style='color:#595555;font-weight:600'>Dr.{{fav_data.doctor_profile_data.doctor_user.name}}</h3></div>
                <div>{{fav_data.doctor_profile_data.Qualification}}</div>
                <div>{{fav_data.doctor_profile_data.Speciality}}</div>
                <div>Years of Experience-{{fav_data.doctor_profile_data.experience}}</div>
                <div>{{fav_data.doctor_profile_data.languages}}</div>
                <div>{{fav_data.doctor_profile_data.state}},{{fav_data.doctor_profile_data.city}}</div>
                <div class='like-btn'>Like-<span>{{like_count}}</span></div>
            </div>
        </div> 
    
        <div class="col-md-3  " >
            <div class='d-flex justify-content-center mt-3'>
                <div class="fees_data">
                <span class="" style='font-size:15px; font-weight:500 '><del>₹ {{fav_data.doctor_profile_data.fees}}</del><small style='color:#87CEEB'>&emsp;OFF 20%</small></span><br>
                <span class="" style='font-size:20px; color:#595555; font-weight:500 '>₹ {{fav_data.doctor_profile_data.fees|Discount}} <small>(per visit)</small></span>
                </div>
            </div>
                
         


            <div class='d-flex justify-content-center mt-5'>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{fav_data.id}}">
                    Appointment
                </button>

                <div class="modal fade" id="exampleModal-{{fav_data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Appointment Date </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'search_doctor' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <input type="hidden" name='doctor_id' value='{{fav_data.doctor_profile_data.id}}'>

                                    <div class=" ">
                                        <label for="floatingTextarea">Description</label>
                                        <textarea class="form-control" placeholder="Describe your symptoms" name='patient_symptoms' id="floatingTextarea"></textarea>
                                    </div><br><br>

                                    <div class="mt-2">
                                    <label for="issued_date">Date</label>
                                    <input type="datetime-local" class='form-control' id="issued_date" name="Date_Data4" required>
                                    </div>
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>

                            </form>
                           
                        </div>
                        
                      </div>
                    </div>
                </div>
            </div>

        </div>  
            
    </div>  
    {% endfor %}
</div><br><br> 


    {% endblock content %}
    
    {% block js %} 
    <script>
      function NameCome(){
        var data=axios.get('/doctor-response-data/').then(res=>{
            // console.log(res);
            var name_data=res.data.data
            var d9=res.data.status
            console.log(name_data);
            console.log(d9);
            $("#tags").autocomplete({
                minLength: 2,
                delay: 100,
                source: name_data
            });
    
           
        })
    }
    </script>
   
  

    {% endblock js %}

   