{% extends 'dashboard/index.html' %}
{% load static %}

{% block css %} 
<style>
  
</style>
{% endblock css %}





{% block content %}
<div class="container w-100  d-flex justify-content-center ">

      <lottie-player src="{% static 'dashboard/img/s1.json' %}" background="transparent" speed="1"
      style="width: 400px; height: 400px;"  autoplay></lottie-player>
     

</div>
<div class="col-12 d-flex justify-content-center" >
    <h2 style='color:green;font-weight:600' >payment successful</h2>
  </div>




{% comment %} 
<h1>payment success</h1>
<h2>paymnet_id-{{order_id}}</h2> {% endcomment %}
{% endblock content %}


   





























